.error{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px solid #343d4b;*/
}

.error p{
    font-size: 36px;
    font-weight: 800;
}

@media (max-width: 800px) {
    .error{
        text-align: center;
    }
}